{% extends "layouts/layout.html" %}
{% set phaseBanner = 'true' %}


{% set pageHeading = 'Improvements' %}

{% block pageTitle %}
  {{pageHeading}} - GOV.UK
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{pageHeading}}</h1>

            <h2 class="govuk-heading-m">
                Filter existing users
            </h2>

            <p class="govuk-body">
                Design concepts to explore filtering existing and new users. Includes some other updates to address problems raised by Change of Circumstances team discovered in their research.
            </p>

            <ul class="govuk-list">
                <li><a href="./filterusers/start" class="govuk-link">Registration journey</a></li>
            </ul>

           
        </div>
    </div>
{% endblock %}

