{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Registration successful" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
        Your registration was successful
    </h1>

    <p class="govuk-body">
        You’ve successfully registered for this service and can now sign in. 
    </p>

    

    {{ govukButton({
        text: "Continue to sign in",
        href: "../authentication/sign-in"
    }) }}
    </div>
</div>
{% endblock %}
