{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Do you want to change your password" %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
               <form action="password-reset" method="post"> 

              {{ govukRadios({
                idPrefix: "reset-password",
                name: "reset-password",
                fieldset: {
                  legend: {
                    text: "Do you want to change your password?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

             </form>
  </div>
</div>

{% endblock %}