{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}

{% set title =  "Enter the email address you used to register with this service" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter the email address you used to register with this service</h1>
                <p>We will send a security code to this email address.</p>
                    <form action="email-code" method="post" class="form">

                        {{ govukInput({
                            label: {
                            text: "Email address",
                            classes: "govuk-label",
                            isPageHeading: true
                
                            },
                            id: "reset-password-email-address",
                            name: "reset-password-email-address",
                            classes: "govuk-!-width-full-width"
                        }) }}
                        
                        {{ govukButton({
                            text: "Continue"
                        }) }}

                        <p><a href="../account-recovery/start-new-email" class="govuk-link">I do not have access to this email address anymore</a></p>

                    </form>
        </div>
    </div>
{% endblock %}
