{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'true' %}


{% block pageTitle %}
  We could not sign you in - GOV.UK
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">We were unable to match your details</h1>

            <p>This could be because your details have recently changed or you entered them incorrectly.</p>
            <p>To try again, please sign out and sign back in with your email address and password. You can then enter your personal details again.</p>

            {{ govukButton({
                text: "Sign out"
                
            }) }}

            <details class="govuk-details govuk-!margin-top-6" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I have tried again and my details do not match
                    </span>
                </summary>
    
                <div class="govuk-details__text">
                    <p>
                        [INSERT SUPPORT INSTRUCTIONS]
                    </p>
                </div>
            </details>
    
        </div>
    </div>
{% endblock %}
