{% extends "layouts/layout.html" %}
{% set phaseBanner = 'true' %}

{% set pageHeading = 'OIDV prototype home' %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block serviceName %}
  {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Dynamic Trust Hub prototype</span>
      DWP Apply Journey
    </h1>

    


 <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      Registration
    </h2>
    <p class="govuk-body">
        <a class="govuk-link" href="./current/register/start">
         Registration
        </a>
    </p>
      <p class="govuk-body">
        The user registers, creating account credentials linked to their email and mobile. This aligns to DWP Apply Iteration 2/3 journey, further information can be found here:  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/SRAA/pages/133290034421"></a>
      </p>
  
 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      First sign in (includes matching)
    </h2>
    <p class="govuk-body">
        <a class="govuk-link" href="./current/1st-signin/sign-in">
        First sign in (includes matching)
        </a>
    </p>
      <p class="govuk-body">
        Iteration 3.3 onwards, the user signs in for the first time (Zero Confidence) after registration they will be asked one time matching information. Further information available here:  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/SRAA/pages/133626266041"></a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
         Sign in
      </h2>
      <p class="govuk-body">
          <a class="govuk-link" href="./current/authentication/sign-in.html">
          Sign in 
          </a>
      </p>
        <p class="govuk-body">
          The user signs in after they have already registered, this is for first time Sign Ins (iteration 2/3) and all second and subsequent log ins for Iteration 3.3 onward.
        </p>
  
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
     Medium uplift journey
    </h2>
    <p class="govuk-body">
        <a class="govuk-link" href="https://prototype-dth.herokuapp.com/idv/hmrciv/start-page">
          Start medium uplift journey
        </a>
    </p>
      <p class="govuk-body">
Once registered and signed in the user goes through the rest of the medium uplift journey.<br>
This link will take you to the OIDV prototype as it's the most up to date medium uplift journey.
      </p>
  
<!--
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      Codes for authentication steps
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Register email authentication: <strong>283194</strong></li>
      <li>Register mobile authentication: <strong>969862</strong></li>
      <li>Sign in mobile authentication: <strong>471350</strong></li>
      <li>Reset password email authentication: <strong>373868</strong></li>
      <li>Reset password mobile authentication: <strong>221645</strong></li>
      <li>Account recovery mobile authentication: <strong>969862</strong></li>
      <li>Account recovery (register new email journey) email authentication: <strong>283194</strong></li>
      <li>Account recovery (cannot access mobile number journey) email authentication: <strong>919291</strong></li>
    </ul>
   -->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Service breakdown</h2>
    <p>
       <a class="govuk-link" href="errors-notifications">Errors, content pages and notifications</a>
    </p>
 




    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {{ govukTag({
      text: "experimental"
    }) }}
    <h2 class="govuk-heading-m">Improvements</h2>
    <p>
      <a href="./current/authentication/experimental/index">View all the experimental journeys and pages</a>
    </p>
 
  </div>
</div>

{% endblock %}